.box {
    display: flex;
    flex-direction: row;
}

.number {
    width: 80px;
}

.inputs  {
    padding: 10px;
    display: inline-flex;
}
.comprar {
        padding: 5px 20px;
        background-color: #fa9200;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
    }