.carrito {
    padding: 10px;
    height: 40px;
    margin-top: -30%;
}

.guitarra {
    padding: 15px;
    height: 85px;
    text-align: left;
}
.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.nav_list {
    list-style: none;
}

.nav_link {
    padding: 5px 10%;
    padding: 7px;
    font-size: 700;
    text-decoration: none;
    color: black;
    list-style: none;
}

.nav_link:hover {
    text-transform: uppercase;
}

p {
 color: black;
}

.carritocount {
    margin-top: -110%;
    margin-right: -10%;
    color: #fa9200;
}