.item {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #fa9200;
    width: 250px;
    height: 100%; 
    border-radius: 15px;
    padding: 10px;
    margin: 10px; 
    background-color: white;
} 
.item__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.item__info {
    background-color: #fa9200;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.button {
    margin: 2px;
    padding: 7px 20px;
    background-color: #fa9200;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #885b17;
    transition: 0.2s;
}