@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
:root {
  background-color: #323030;
  font-family: 'Fraunces', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}